.scrollspy-example {
    position: relative;
    height: 300px;
    overflow: auto;
  }


body {
    color: #232a35;
    font: normal normal 14px Verdana, Arial, '新微軟正黑體', Helvetica, sans-serif;
}

header img{
width: 18px;
height: 18px;
}

.login-for-sp1{
    /* display: inline-block;
    width: 24px;
    height: 24px;
    background: url(./images/ic_member.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    /* position: relative; */
}

a {
    text-decoration: none;
}

.top-section .for-sp{
    background-color:  #FA3461;
}
.for-sp .search-bar {
    /* background-color: #fff; */
    /* border-radius: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    padding: 15px 10px;
    /* box-sizing: border-box; */
    /* border: 1px solid #DCE2EC; */
}
.for-sp .search-bar .to-index{
    font-size: 18px;
    padding: 0 10px 0 0;
    color:#fff;
} 
.for-sp .search-input{
    flex: 1;

}
.for-sp .search-input input{
    background: url(./images/ic_search_darkblue100.svg) no-repeat left center;
    background-size: 14px;
    background-position: 10px;
    background-color: #fff;
    font-size: 18px;
    padding: 5px 0px 10px 28px;
    border: 1px solid #FA3461;
    border-radius: 1em;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.for-sp .search-bar .member-center{
    margin: 0 5px 0 10px;
    padding: 0;
} 



.for-sp .search-bar .search-group{
    /* display: flex; */
}
.for-sp .search-option {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #DCE2EC;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 100%;
    height: 55px;
}

.for-sp #location-distance,
.for-sp #job-category{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    
    position: relative;
}

.for-sp #location-distance .wrap,
.for-sp #job-category .wrap {
    border-right: 1px solid #ddd;
}

.for-sp #location-distance::after,
.for-sp #job-category::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 20px;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transition: all 0.2s;
}





.for-sp .search-filters-and-subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: -10px;
    box-sizing: border-box;
}

.for-sp .search-filters{
    display: flex;
    align-items: center;
    color: #fff;
}
.for-sp .search-filters>*{
    padding: 15px 10px;
    margin-right: 10px;
    position: relative;
}

.for-sp .advance-filters{
    display: flex;
    align-items: center;
}
.for-sp .advance-filters span{
    font-size: 12px;
    margin-left: 3px;
}

.for-sp .btn-subscribe{
    font-size: 14px;
    color: #fff;
    padding: 3px 10px;
    border-color: #fff;
    border-radius: 5px;
    margin-right: 5px;
}

.for-pc {
    display: none;
}
.search-result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 5px;
}
.search-result-header h2{
    font-size: 14px;
    /* line-height: 1.2; */
    margin: 0;
}

.search-result-header .order-by{
    display: flex;
    align-items: center;
    /* font-size: 14px; */
    /* line-height: 1.2; */
    
}
.search-result-header .order-by span{
    display: inline-block;
    
}
.search-result-header .order-by .btn{
    font-size: 14px;
    padding: 0;
    margin: 0 5px 0 0;
    border: 0px;
    /* line-height: 1.2; */
    display: flex;
    align-items: center;
}

.search-result-header .order-by i{
    display: inline-block;
    background: url(./images/ic_arrow_decrease_darkblue50.svg) no-repeat center/contain;
    
    width: 12px;
    height: 12px;
    color: #232A35;
    align-self: center;
}

.search-result .job-card{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #E9EAEB;
}

.search-result .job-card .company a{
    color: #555;
    display: flex;
    align-items: center;
}
.search-result .job-card .company i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(./images/ic_sheild_pinkred600.svg) no-repeat center/contain;
    margin-left: 2px;
}
.search-result .job-intro {
    width: 85%;
}
.search-result .job-intro>:nth-child(n+2):nth-child(-n+4) {
    margin: 5px 0;
}

.search-result .job-title{
    width:100%;
    font-size: 18px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-result .job-salary{
    color: #2369FF;
    font-weight: 700;
}

.search-result .job-conditions{
    display: flex;
}
.search-result .job-conditions>:nth-child(-n+2)::after{
    content: "|";
    padding: 0 3px;
}

.search-result .job-tags{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.search-result .job-tags>:nth-child(n+1){
    font-size: 12px;
    color: #3CA8FF;
    background-color: #F4F7FF;
    border: 1px solid #CAE8FF;
    border-radius: 4px;
    padding: 3px 6px;
    margin-right: 5px;
}

.search-result .job-favorite .btn{
    padding: 0;    
}
.search-result .job-favorite i{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(./images/ic_heart_off_darkblue20.svg) no-repeat center/contain;
    position: relative;
    top: 32px;
}

.search-result .job-recommend,
.search-result .job-hurry,
.search-result .job-new,
.search-result .job-normal {
    position: relative;
}

.search-result .job-recommend {
    background-color: #fef6f8;
}

.job-new::before,
.job-recommend::before,
.job-hurry::before {
    font-weight: bold;
    padding-left: 22px;
    top: 14px;
    right: 14px;
    font-size: 16px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: left center;
}

.job-new::before {
    content: "新";
    color: #2B9DF8;
    background-image: url(./images/new.svg);
}

.job-recommend::before {
    content: "推";
    color: #FA1E50;
    background-image: url(./images/recommend.svg);
}

.job-hurry::before {
    content: "急";
    color: #FF9100;
    background-image: url(./images/hurry.svg);
}

.job-normal::before {
    content: "08/02";
    position: absolute;
    color: #80858C;
    padding-left: 25px;
    top: 18px;
    right: 14px;
    font-size: 13px;
}

.job-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 20px;
}

.spinner-job-loading{
    width: 1rem;
    height: 1rem;
    border-style: dotted;
}
/* 
.search-group {
    width: 1140px;
    margin: auto;
    padding: 0 30px;
    background-color: #fff;
}

.search-header:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FB6184;
    position: absolute;
}

.search-filter-and-subsribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.search-filters-bar {
    display: flex;
    align-items: center;
}

.gap-line {
    width: 1px;
    height: 1em;
    background-color: #ccc;
}

.dropdown-menu-filter {
    padding: 1rem;
}

.dropdown-menu-filter h5 {
    font-size: 1rem;
}

.dropdown-menu-filter h5:nth-child(n+2) {
    margin-top: 1rem;
}

.dropdown-menu-salary>* {
    margin-bottom: 1em;
}

.dropdown-menu-salary .input-group-salary {
    min-width: 15rem;
}

.input-salary-range {
    display: flex;
    align-items: center;
}

.btn-salary-send {
    width: 100%;
}

.filter-feature .dropdown-menu-filter {
    min-width: 21rem;
}

.feature-items {
    display: flex;
    flex-wrap: wrap;
}

.feature-items .form-check {
    flex-basis: 50%;
    box-sizing: border-box;
}

.feature-items .form-check-input {
    margin-left: -1em;
    margin-right: 0.5em;
}

.btn-subscribe {
    font-size: 16px;
    color: #2369FF;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #3978FF;
    background-color: #fff;
    border-radius: 44px;
    display: flex;
    align-items: center;
}
.btn-subscribe i{
    width: 20px;
    height: 20px;
    background: url(./images/subscribe.svg) no-repeat center/contain;  
    margin-right: 0.4em;  
}



.btn-subscribe:hover {
    background-color: #F4F7FF;
}

#subscribeModal img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleX(-1);
    top: -104px;
}

#subscribeModal .modal-content {
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

#subscribeModal .btn-close {
    position: absolute;
    top: 1em;
    right: 1em;
}

#subscribeModal .modal-body {
    padding: 0;
}

#subscribeModal .modal-body p,
#subscribeModal .modal-body input {
    margin-bottom: 1em;
}

#subscribeModal .modal-body button {
    width: 100%;
}

#subscribeModal .modal-footer {
    text-align: left;
}


.container-find-jobs {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    padding:30px;
}

.search-result {
    width: 75%;
}

.search-result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E9EAEB;
}

.search-result-header h2 {
    font-size: 16px;
    color: #95999F;
    margin: 0;
}



.order-by {
    display: flex;
    align-items: center;
}

.job-card {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #E9EAEB;
}

.job-recommend,
.job-hurry,
.job-new,
.job-normal {
    cursor: pointer;
    padding: 16px 16px 16px 60px;
    position: relative;
    display: flex;
    box-sizing: border-box;
}

.job-recommend {
    background-color: #fef6f8;
}

.job-new::before,
.job-recommend::before,
.job-hurry::before {
    font-weight: bold;
    padding-left: 20px;
    height: 18px;
    top: 20px;
    left: 16px;
    font-size: 16px;
    line-height: 1.25;
    display: inline-block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
}

.job-new::before {
    content: "新";
    color: #2B9DF8;
    background-image: url(./images/new.svg);
}

.job-recommend::before {
    content: "推";
    color: #FA1E50;
    background-image: url(./images/recommend.svg);
}

.job-hurry::before {
    content: "急";
    color: #FF9100;
    background-image: url(./images/hurry.svg);
}

.job-normal::before {
    content: "08/02";
    position: absolute;
    top: 20px;
    left: 16px;
    font-size: 13px;
    line-height: 19.5px;
    color: #80858C;
}

.job-conditions {
    display: flex;
    align-items: center;
}

.job-conditions [class^="job-"] {
    padding: 0 10px;
}

.job-description p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.fa-heart {
    color: #b6b9c0;
}

.fa-heart:hover {
    color: #dc3545;;
}




.resume-selection,
.self-introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[data-bs-target="#applyModal"] {
    display: flex;
    align-items: center;
}

[data-bs-target="#applyModal"] svg {
    margin-right: 5px;
}

[data-bs-target="#applyModal"] path {
    fill: #bb2d3b;
    transition: fill .15s ease-in-out;
}

[data-bs-target="#applyModal"]:hover path {
    fill: #fff;
}

#applyModal,
#subscribeModal {
    --bs-modal-header-border-color: none; 
    --bs-modal-footer-border-color: none;
}

#applyModal h2 {
    font-size: 1rem;
    margin-top: 1rem;
}


#applyModal .form-check {
    display: flex;
    align-items: center;
}

#applyModal .form-check-label {
    text-align: center;
    align-self: center;
    padding: 10px;
}

#applyModal .form-check .form-control {
    width: 82%;
}

.job-card[job-id]:hover {
    background-color: #f2f5f9;
    cursor: pointer;
}

.job-card[job-id]:hover .job-apply .btn {
    transition: none;
}

.job-card[job-id]:hover .job-apply .btn-outline-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.job-card[job-id]:hover path {
    fill: #fff;
    transition: none;
}

.job-title {
    font-size: 18px;
    font-weight: bold;
}

.job-title:hover,
a:hover,
.company a:hover {
    color: #6596ff;
}

.company a {
    color: #000;
}

a {
    text-decoration: none;
}

.job-salary {
    color: #2369FF;
}

.job-tags span {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #3CA8FF;
    background-color: #F4F7FF;
    border: 1px solid #CAE8FF;
    border-radius: 4px;
    padding: 1px 6px;
    margin-top: 1em;
}

.fast-filters-and-map {
    position: sticky;
    top: 100px;
    width: 20%;
    height: 400px;
}

.fast-filters .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D5D6D9;
    padding: 10px;
    margin: 10px 0;
}

.fast-filters .btn:hover{
    box-shadow:0px 2px 4px rgba(11, 59, 108, 0.05), 0px 4px 8px rgba(11, 59, 108, 0.05), 0px 6px 12px rgba(11, 59, 108, 0.05);
}


.page {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.pagination {
    align-items: center;
    margin: 30px 0;
    --bs-pagination-color: #000;
    --bs-pagination-focus-box-shadow: none;
}

.page-item:nth-child(n+3):nth-child(-n+6) {
    font-size: 100px;
    margin-left: 10px;
}


.btn-outline-danger {
    --bs-btn-color: #fa1e50;
    --bs-btn-border-color: #fa1e50;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fa1e50;
    --bs-btn-hover-border-color: #fa1e50;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fa1e50;
    --bs-btn-active-border-color: #fa1e50;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fa1e50;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #fa1e50;
    --bs-gradient: none
}

.btn-outline-primary {
    --bs-btn-color: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0d6efd;
    --bs-btn-hover-border-color: #0d6efd;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0d6efd;
    --bs-btn-active-border-color: #0d6efd;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none
}

.btn-outline-secondary {
    --bs-btn-color: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6c757d;
    --bs-btn-hover-border-color: #6c757d;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c757d;
    --bs-btn-active-border-color: #6c757d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none
}

.btn-outline-success {
    --bs-btn-color: #0a800a;
    --bs-btn-border-color: #0a800a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #00B900;
    --bs-btn-hover-border-color: #00B900;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a800a;
    --bs-btn-active-border-color: #0a800a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0a800a;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0a800a;
    --bs-gradient: none
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #fa1e50;
    --bs-btn-border-color: #fa1e50;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fb6184;
    --bs-btn-hover-border-color: #fb6184;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #fa1e50;
    --bs-btn-disabled-border-color: #fa1e50
} */